* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

:root {
  --white-color: #e0dcdc;
  --orange-color: #d7653b;
  --green-color: #195f2d;
  --border-radius: 5px;
  --white-cl: white;
  --black-cl: black;
  --purple-cl: rgb(116, 4, 103);
  --red-cl: rgb(250, 54, 50);
  --red-black-cl: rgb(217, 13, 9);
  --green-cl: rgb(3, 165, 3);
  --green-black-cl: rgb(14, 130, 14);
  --black-gray-cl: #2b2f32;
  --blue-dark-cl: rgb(0 63 115);
  --blue-cl: rgb(0, 122, 222);
  --blue-white-cl: rgb(18, 149, 255);
  --orange-cl: rgb(255, 174, 0);
  --gray-cl: rgb(172, 172, 172);
  --gray-white-cl: rgb(198, 198, 198);
  --gray-black-cl: #2c3338;
}

a {
  text-decoration: none;
  /* color: var(--white-color); */
}

body {
  background-color: var(--white-color);
}

.background-container {
  position: relative;
  top: 130px;
  width: 100%;
  height: 100vh;
  padding: 40px 0px 20px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

#header-for-all {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

.open-add-form {
  display: flex !important;
}

.open {
  display: block !important;
}

.close {
  display: none !important;
}

.nav-selected {
  color: var(--orange-cl);
}

.current-page {
  li,
  span {
    color: var(--orange-color) !important;
  }
}

.form-404 {
  font-size: 16px;
  font-weight: 700;
  margin: 100px auto;
  top: 150px;
  left: 50%;
  width: fit-content;
  padding: 30px;
  background: whitesmoke;
  gap: 30px;
  box-shadow: 0px 0px 20px 10px
    rgba(0, 0, 0, 0.3);

  > a {
    color: var(--green-color);
    text-transform: uppercase;
  }
}
