#profile-box {
  width: 90%;
  margin: 30px auto 0px;
}

.sub-profile-box {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 20px;
}

.info-fields {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.info-fields > input {
  width: 100%;
  padding: 8px 13px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px #dbdbdb solid;
  margin-top: 8px;
}

.eye-info {
  position: absolute;
  right: 10px;
}
