.profile {
  border-left: 1px solid var(--gray-white-cl);
  border-right: 1px solid var(--gray-white-cl);
  border-bottom: 1px solid var(--gray-white-cl);
  border-radius: 7px;
  overflow: hidden;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 220px;
}

#profile__title {
  padding: 7px 7px 7px 10px;
  font-weight: 700;
  color: var(--white-cl);
  font-size: 23px;
  background: var(--green-cl);
  text-transform: capitalize;
}

.profile__container {
  display: flex;
}

.profile__menu {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  border-right: 1px solid
    var(--gray-white-cl);
  font-size: 18px;
}

.profile .content {
  padding: 15px 40px;
  width: 500px;
  height: fit-content;
}

.profile .content .input-fields {
  margin-bottom: 13px;
  display: flex;
  align-items: center;

}

.profile
  .content
  .input-fields
  > label {
  min-width: 180px;
  font-size: 17px;
  font-weight: 600;
  color: var(--gray--cl);
}

.profile
  .content
  .input-fields
  > input {
  flex: 1;
  /* border: 1px solid var(--gray-white-cl); */
  border: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
}

.profile__menu-option {
  padding: 5px 10px;
  border-bottom: 1px solid
    var(--gray-white-cl);
  font-size: 17px;
}
.profile__menu-option:hover {
  cursor: pointer;
  color: #fff;
  background: var(--gray-white-cl);
}

.profile__menu-option--active {
  background: var(--orange-cl);
  color: var(--white-cl);
}
