.upload-file {
    font-size: 14px;
    display: flex;
    margin: 0 auto;
    top: 150px;
    left: 50%;  
    width: fit-content;
    padding: 30px;
    background: whitesmoke;
    gap: 30px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  }

.form-upload {
    padding: 25px 24px 10px 24px;
}

.form-upload-sub{
    display: flex;
    gap: 50px;
}

.upload-sub-1 {
    width: 225px;
    border: 1px black solid;

}

.upload-sub-1 > ul {
    padding: 15px 20px;
}

.upload-sub-1 > ul > li {
    text-align: justify;
    margin-bottom: 12px;
}

.upload-sub-2 {
    width: 700px;
    border: 1px black solid;
}

.form-infor {
    display: flex;
    flex-direction: column;
}

.form-infor > input,select{
    width: 300px;
    padding: 8px 13px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px #dbdbdb solid;
}


.form-infor > label {
    margin-bottom: 8px;
}

.title-upload {
    display: flex;
    flex-direction: column;
}

.btn-upload {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-upload > button{
    display: flex;
    gap: 7px;
    align-items: center;
    border-radius: 3px;
    border: 1px #333 solid;
    font-weight: 600;
    color: white;
    padding: 8px 13px;
    background-color: var(--orange-color);
    margin: 20px 0;
}


.table-upload {
    width: -webkit-fill-available;
    border-collapse: collapse;
    
    th,
    td {
        color: var(--black-cl);
        text-align: center;
        border: 1px solid #bebebe;
    }

    th {
        font-size: 15px;
        color: var(--white-cl);
        padding: 10px;
        background-color: var(--gray-cl);
        font-weight: 600;
    }

    td {
        font-size: 14px;
        padding: 7px;
        background-color: var(--white-cl);
    }

    a{
        color: var(--green-color);
        font-weight: 700;
    }

    a:hover {
        color: var(--orange-color);
    }

    button {
        border: none;
        color: var(--green-color);
        cursor: pointer;
    }

    button:hover {
        color: crimson;
    }

    i {
        font-size: 15px;
    }
}

