.upload-file {
    position: relative;
    margin: 0 0 0 0;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 30px;
    background: chocolate;  
  }

.form-upload{
    display: flex;
    gap: 50px
}

.form-upload-sub {
    display: flex;
    flex-direction: column;
}